@model OA_Service.ViewModels.RequestViewModel
@using OA_DAL.Models

@{
    ViewData["Title"] = "Request";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <style>

        #multiple-file-preview {
            border-top: 1px solid rgba(0, 0, 0, 0.11);
            margin-top: 10px;
            padding: 10px;
        }

        #sortable {
            list-style-type: none;
            margin: 0;
            padding: 0;
            min-height: 100px;
        }

            #sortable li {
                margin: 3px 3px 3px 0;
                float: left;
                width: 200px;
                text-align: center;
                position: relative;
                background-color: #FFFFFF;
            }

                #sortable li, #sortable li img {
                    -webkit-border-radius: 4px;
                    -moz-border-radius: 4px;
                    border-radius: 4px;
                }

                    #sortable li div.order-number {
                        position: absolute;
                        top: 2px;
                        right: 2px;
                        width: 15px;
                        height: 15px;
                        background-color: #2B91E3;
                        color: #FFFFFF;
                        font-size: 12px;
                        -webkit-border-radius: 20px;
                        -moz-border-radius: 20px;
                        border-radius: 20px;
                    }

        .modalImg {
            border-radius: 5px;
            cursor: pointer;
            transition: 0.3s;
            width: 100%;
        }

        /* Add Animation */
        .modal-content, #caption {
            -webkit-animation-name: zoom;
            -webkit-animation-duration: 0.25s;
            animation-name: zoom;
            animation-duration: 0.25s;
        }

        @@-webkit-keyframes zoom {
            from {
                -webkit-transform: scale(0.8)
            }

            to {
                -webkit-transform: scale(1)
            }
        }

        @@keyframes zoom {
            from {
                transform: scale(0.8)
            }

            to {
                transform: scale(1)
            }
        }

        .modalImg:hover {
            opacity: 0.7;
        }

        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
        }

        /* Modal Content (image) */
        .modal-content {
            margin: auto;
            display: block;
            width: 80%;
        }

        /* Caption of Modal Image */
        #caption {
            margin: auto;
            display: block;
            width: 80%;
            max-width: 700px;
            text-align: center;
            color: #ccc;
            padding: 10px 0;
            height: 150px;
        }

        #img01 {
            width: auto;
            max-height: 90%;
            max-width: 90%;
        }

        /* The Close Button */
        #closeBtn {
            position: absolute;
            top: 20px;
            right: 23px;
            color: #f1f1f1;
            font-size: 40px;
            font-weight: bold;
            transition: 0.3s;
            z-index: 100;
        }

        .profileImg {
            object-fit: cover;
            width: 60px;
            height: 60px;
        }

        #closeBtn:hover,
        #closeBtn:focus {
            color: #bbb;
            text-decoration: none;
            cursor: pointer;
        }

        .userName {
            display: inline-block;
            margin-bottom: auto;
            padding-top: 15px;
            margin-left: 16px;
        }

        /* 100% Image Width on Smaller Screens */
        @@media only screen and (max-width: 700px) {
        }

        textarea {
            transition: background 0.3s;
        }

        .modal-backdrop {
            z-index: 0;
        }

        .invalid {
            background: rgba(209, 111, 111, 0.56);
        }
    </style>
}

@{
    var Reson1ToDisable = Model.Status == OA_DAL.Models.Request_Status.Approved || Model.Status == OA_DAL.Models.Request_Status.Cancelled || Model.Status == OA_DAL.Models.Request_Status.Rejected;
    var Reson2ToDisable = (Model.Journey.Passengers_Number < Model.Seats) ;

    var DisableApprove = Reson2ToDisable || Reson1ToDisable ? "disabled" : "";
    var DisableDecline = Reson1ToDisable ? "disabled" : "";


    var Approved = Model.Status == Request_Status.Approved ;
    var ReJected = Model.Status == Request_Status.Rejected || Model.Status == Request_Status.Cancelled;
    var tab = "";
    if (Approved)
    {
        tab = "Approved";
    }
    else if (ReJected)
    {
        tab = "Rejected";
    }
}

<div class="container">

    <div class="d-flex flex-md-row flex-column my-2">
        <h1>Request Details</h1>
        <div class="ml-3">
            <a asp-action="Index" asp-route-tab="@tab" class="btn btn-secondary">back</a>
            <a asp-action="Approve" asp-route-id="@Model.Id" class="btn btn-secondary @Html.Raw(DisableApprove)">Approve</a>
            <a href="#" class="btn btn-secondary @Html.Raw(DisableDecline)" data-toggle="modal" data-target="#basicModal">Decline</a>
        </div>
    </div>

    <div>
        <div>
            <div class="comment-meta d-flex align-items-baseline">
                <img src=/images/Users/@Model.User.Photo class="rounded-circle profileImg">
                <h5 class="userName"><a class="text-decoration-none text-dark" asp-action="Id" asp-controller="Profile" asp-route-id="@Model.User.Id">@Model.User.FirstName @Model.User.LastName</a></h5>
            </div>
            <div>
                <h4 class="my-3">Wants to book @Model.Seats seats in your ride</h4>
            </div>
        </div>
        <ul id="sortable" class="d-flex flex-column flex-md-row">
            @if (Model.IncludeUser == true)
            {
                <li class="ui-state-default">
                    <img class="modalImg" onclick="OpenModal(this)" src="/images/UserPhotos/@Model.User.UserPhoto.SSN_Photo" style="width:100%;">
                </li>
            }


            @foreach (var item in Model.Photos)
            {
                <li class="ui-state-default">
                    <img class="modalImg" onclick="OpenModal(this)" src="/images/Requests/@item.Photo" style="width:100%;">
                </li>
            }
            <div class="clear-both"></div>
        </ul>
    </div>


</div>

<!-- The Modal -->
<div id="myModal" class="modal" onclick="closeModal()">
    <span id="closeBtn" onclick="closeModal()">&times;</span>
    <img class="modal-content" onclick="imageClick(event)" id="img01">
</div>




<!-- basic modal -->
<div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Reason For Decline ?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form onsubmit="DeclineRequest(event)">
                    <input type="text" name="Id" hidden value="@Model.Id" />

                    <div class="custom-control custom-radio">
                        <input type="radio" name="declineReason" id="customRadio1" value="Has no seats left" class="custom-control-input" checked>
                        <label class="custom-control-label" for="customRadio1">Has no seats left</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" name="declineReason" id="customRadio2" class="custom-control-input" value="Id's Photos were not clear">
                        <label class="custom-control-label" for="customRadio2">Id's Photos were not clear</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" name="declineReason" id="customRadio3" class="custom-control-input" value="Someone booked with me off GasShare">
                        <label class="custom-control-label" for="customRadio3">Someone booked with me off GasShare</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" name="declineReason" id="customRadio4" class="custom-control-input" value="Other">
                        <label class="custom-control-label" for="customRadio4">Other</label>
                    </div>
                    <div class="custom-control mr-4">
                        <textarea id="reasonText" class="form-control " placeholder="Enter reason here"></textarea>
                    </div>
                    <br />
                    <button type="submit" class="btn btn-primary" >Send</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    <script>
        // Get the modal
        var modal = document.getElementById("myModal");

        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var modalImg = document.getElementById("img01");
        var captionText = document.getElementById("caption");


        function OpenModal(img) {
            modal.style.display = "block";
            modalImg.src = img.src;
        }


        // Get the <span> element that closes the modal
        var span = document.getElementById("closeBtn");

        // When the user clicks on <span> (x), close the modal
        function closeModal() {
            modal.style.display = "none";
        }

        function imageClick(event) {
            event.stopPropagation();
        }


        function DeclineRequest(e) {
            e.preventDefault()
            var selectionVal = document.querySelector('form input[name=declineReason]:checked').value;
            var id = document.querySelector('form input[name=Id]').value;
            if (selectionVal != "Other") {
                window.location.href = '@Url.Action("Decline", "Request")/' + id + '?reason=' + selectionVal;
            }
            else
            {
                var reason = document.getElementById('reasonText').value;
                if (reason == null || reason == "") {
                    document.getElementById('reasonText').classList.add('invalid');
                }
                else {
                    console.log(reason);
                    window.location.href = '@Url.Action("Decline", "Request")/' + id + '?reason=' + reason;
                }
            }
        }
    </script>
}