@model IEnumerable<OA_Service.ViewModels.JourneyViewModel>

@{
    ViewData["Title"] = "IndexJourney";
    Layout = "_AdminLayout";
}

<h1>IndexJourney</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
             Seats
            </th>
            <th>
                @Html.DisplayNameFor(model => model.From)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.To)
            </th>
          
            <th>
               Owner Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Passengers_Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.From)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.To)
            </td>
 
            <td>
                @Html.DisplayFor(modelItem => item.Car_Owner.FirstName)
            </td>
            <td>

                <a asp-action="DeActive" asp-route-id="@item.Id" class="btn btn-secondary">De Active</a>
                @*@Html.ActionLink("Details", "Details", new {  id=item.Id }) |*@
        
            </td>
        </tr>
}
    </tbody>
</table>
